[core]
	editor = vim
[user]
  name = Kyle Shockey
	email = "kyleshockey@gmail.com"
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

# Git Immersion aliases
[alias]
	a = add
	amd = commit --amend
	bc = checkout -b
	br = branch
	ci = commit
	cl = clone
	co = checkout
	com = checkout master
	di = diff
	dis = diff --staged
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	ph = push
	pl = pull
	plom = pull origin master
	plum = pull upstream master
	rsh = reset --hard
	s = status
	sd = stash drop
	sp = stash pop
	st = stash push --include-untracked
	st = status
[push]
	default = current
[commit]
	gpgsign = true
[url "git@github.com:"]
	insteadOf = https://github.com/

#### Machine-specific configs, DO NOT COMMIT CHANGES BELOW THIS LINE
