# dest: ~/.gitconfig

# Git Immersion aliases
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  cl = clone
  di = diff
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  a = add
  p = push
  pu = pull
  amend = commit --amend

[core]
	editor = "nano -OScim"
	
[user]
	name = "Kyle Shockey"
	email = "kyleshockey1@gmail.com"
